/*
https://www.webfx.com/blog/web-design/google-fonts-examples/
O porquê dessa fonte.

*/
body {
    margin: 0;
    font-family: 'Muli', 'Helvetica' !important;
    background-color: #4BD7FA;
    color: white;
}

input, label {
    font-family: 'Muli' !important;
}

.container {
    position: relative;
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    background-color: #19E36D;
}

.menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
    background-color: #ACFA69;
}

.menu > li {
    padding: 15px;
}

.menu > li > a  {
    text-decoration: none;
    color: white;
} 

.form-control {
    width: 100%;
    padding: 20px;
}

input[type="text"],
input[type="number"] {
    border: none;
    border-bottom: 1px solid white;
    padding: 2px;
    margin: 10px;
    font-size: 16px;
    width: 100%;
    outline: none;
    background: none;
    color: inherit;
}


input[type="number"] {
    text-align: center;
    width: 100px;
    text-indent: 20px;
}

input[type="button"], button {
    background: none;
    -webkit-appearance: none;
    background: none;
    box-shadow: 0.5px 0.5px 10px white;
    box-shadow: none;
    color: inherit;
    border: none;
    border-radius: 100px;
}

input[type="button"]:hover, 
input[type="button"]:focus, 
button:hover,
button:focus {
    outline: none;
    cursor: pointer;
/*    transform: translateY(4px); */
}

section,
.images-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    padding: 20px;
    display: flex;
    fill: #02B0AD;
}

.image:hover,
.menu > li:hover {
    cursor: pointer;
}

#collapse {
    display: none;
    padding: 10px 15px;
}

#collapse:hover {
    background: none;
}

.fa-5x {
    font-size: 3em !important;
}

.fa-spin-hover:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.centralize,
.question {
    text-align: center;
    justify-content: center;
}

#question-text {
    font-size: 18px;
}

.space-around,
.answer {
    justify-content: space-around;
}

.active {
    background: rgba(0, 0, 0, 0.2);
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-20 {
    margin-top: 20px;
}

body {
    transition: all 0.5s ease-in;
}

.show {
    z-index: 2;    
}

#question-container.show,
.menu.show {
    max-height: 300px;
    transition: max-height 0.5s;
}

#question-container {
    display: flex;
    transition: max-height 0.2s;
    overflow: hidden;
    max-height: 0;
}

#fa-user-plus>span,
#fa-tshirt>span {
    padding: 10px;
}

#fa-shower>span {
    padding: 15px;    
}

#calcular-gastos {
    font-family: inherit;
    color: inherit;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding: 20px;
}

#calcular-gastos:hover {
    transform: translateY(2px);
}

#calcular-gastos:focus {
    transform: translateY(4px);
}

.value-container {
    font-size: 16px;
}

.show-tips {
    display: none;
    background: rgba(0,0,0,0.2);
    font-family: inherit;
    font-size: 16px;
    padding: 20px;
}


.header > h2  {
    text-decoration: none;
    color: white;
}

.header > h2 {
    position: relative;
    top: 0px;
    left: 0%;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    padding: 0 !important;
}

@media (max-width: 690px) 
{
    .header {
        text-decoration: none;
        color:inherit;
        position: relative;
        top: 30px;
        left: 0%;
        padding: 0px;
    }

    .images-container {
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
    }
    .menu {
        flex-direction: column;
        text-align: center;
        justify-content: center;    
    }

    span.image {
        text-align: center;
        justify-content: center;
    }
    
    input[type="number"] {
        text-indent: 10px;
    }

    #collapse {
        display: flex;
    }

    .menu {
        position: absolute;
        display: flex;
        transition: max-height 0.2s;
        overflow: hidden;
        max-height: 0;
    }
    
    .fa-5x {
        font-size: 3em !important;
    }

}



#question-container {
    display: flex;
    transition: max-height 0.2s;
    overflow: hidden;
    max-height: 0;
}